body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

div#container {
    width: 560px;
    margin: 0px auto;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
    padding: 20px;
}

p {
    line-height: 1.5em;
    color: #222;
}

h1 {
    line-height: 1.1em;
}

ul {
    line-height: 1.5em;
}

#cover {
    color: #222;
    margin-bottom: 40px;
}

#cover h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

#cover h2 {
    line-height: 1em;
    font-size: 18px;
    font-weight: normal;
}

hgroup {
    margin-bottom: 40px;
}

a, a:visited {
    color: #0d55d0;
}

span.proofstep {
    color: #222;
    text-decoration: none;
    border-bottom: 1px dotted #999;
    cursor: pointer;
    padding: 1px;
}

#popupdiv {
    position: absolute;
    background-color: #fff;
    border: 1px solid #666;
    padding: 7px;
    width: 150px;
    font-size: 14px;
}

span.activestep {
    background-color: #f98898;
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
}
