body {
    width: 600px;
    margin:40px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.5em;
    color: #222;
}

h1 {
    line-height: 1.1em;
}

ul {
    line-height: 1.5em;
}

#cover {
    color: #222;
    margin-bottom: 40px;
}

#cover h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

#cover h2 {
    line-height: 1em;
    font-size: 18px;
    font-weight: normal;
}

hgroup {
    margin-bottom: 40px;
}

a, a:visited {
    color: #0d55d0;
}

p a[href^="#post"], p a[href^="#prop"] {
    color: #222;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

#popupdiv {
    position: absolute;
    background-color: #fff;
    border: 1px solid #666;
    padding: 7px;
    width: 250px;
}
